<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Editar Producto</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">	
</head>

<body>
	<!-- NAV -->
	<nav class="navbar navbar-expand-lg bg-secondary navbar-dark">
		<div class="container-fluid">

			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" th:href="@{/productos/listar}"><i class="bi bi-chevron-left"></i> Regresar a Productos</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
		<div class="container mt-4">
		<h2 class="mb-3">Editar Producto</h2>

		<form th:action="@{/productos/salvar}" th:object="${producto}" onsubmit="confirmacion();">

			<label class="mb-1">NOMBRE</label>
			<input type="text" th:field="*{Nombre}" class="form-control mb-2 col-3" required />

			<label class="mb-1">DESCRIPCION</label>
			<input type="text" th:field="*{Descripcion}" class="form-control mb-2 col-3" required/>

			<label class="mb-1">CATEGORIA</label>
			<select th:field="*{categoria}" class="form-comtrol col-md-6">
				<option th:each="cat:${categorias}" th:value="${cat.IdCategoria}" th:text="${cat.Nombre}"></option>
			</select>

			<label class="mb-1">TALLA</label>
			<input type="text" th:field="*{Talla}" class="form-control mb-2 col-3" required />

			<label class="mb-1">PRECIO</label>
			<input type="number" th:field="*{Precio}" class="form-control mb-2 col-3" required />

			<label class="mb-1">STOCK</label>
			<input type="number" th:field="*{Stock}" class="form-control mb-2 col-3" required/>

			<label class="mb-1">IMAGEN</label>
			<input type="image" src="@{img/} + *{Imagen}" class="form-control mb-2 col-3" required />

			<label class="mb-1">ESTADO</label>
			<select th:field="*{Estado}" class="form-control mb-3 col-3">
				<option th:value="'true'">Disponible</option>
				<option th:value="'false'">No Disponible</option>
			</select>

			<button type="submit" class="btn btn-success" />Guardar</button>
			<script>
				function confirmacion() {
					alert("Producto editado con exito");
				}
			</script>


		</form>

	</div>
</body>

</html>













